.deps
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
libfts.la
libtool
ltmain.sh
missing
stamp-h1
m4/
libjbig/Makefile.in
libjbig/.libs
libjbig/tstcodec
libjbig/tstcodec85
pbmtools/Makefile.in
pbmtools/pbmtojbg
pbmtools/pbmtojbg85
pbmtools/jbgtopbm
pbmtools/jbgtopbm85
*.pc
*.o
*.lo
*.la
