.deps
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
libfts.la
libtool
ltmain.sh
missing
stamp-h1
test-driver
m4/
libjbig/Makefile.in
libjbig/.libs
libjbig/.dirstamp
libjbig/tstcodec
libjbig/tstcodec85
pbmtools/Makefile.in
pbmtools/pbmtojbg
pbmtools/pbmtojbg85
pbmtools/jbgtopbm
pbmtools/jbgtopbm85
test-suite.log
test/.libs/
test/tstcodec
test/tstcodec.log
test/tstcodec.trs
test/tstcodec85
test/tstcodec85.log
test/tstcodec85.trs
*.pc
*.o
*.lo
*.la
